# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local

# Build output
/dist/
/build/
coverage/

# Next.js
.next/
out/

# Tooling
.turbo/

# OS
.DS_Store
Thumbs.db
